<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {{^sessionAccount}}    <!-- 세션의 유무-->
            <a class="nav-item nav-link" href="/user/join">회원가입</a>
            <a class="nav-item nav-link" href="/user/login">로그인</a>
            {{/sessionAccount}}
            {{#sessionAccount}}
            <a class="nav-item nav-link" href="/user/logout">로그아웃</a>
            <a class="nav-item nav-link" href="/user/{{id}}">개인정보수정</a>
            {{/sessionAccount}}
            <a class="nav-item nav-link" href="/question">게시판</a>
        </div>
    </div><!--/.nav-collapse -->
</nav>