<!DOCTYPE html>
<html lang="en">
{{> include/header }}
<body>
{{> include/navbar }}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">등록일</th>
        </tr>
        </thead>
        <tbody>
        {{#boards}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{writer}}</td>
            <td>{{loadTime}}</td>
        </tr>
        {{/boards}}
        </tbody>
    </table>
</div>
<a href="/board/write"><button class="btn btn-primary">글쓰기</button></a>



{{> include/footer }}
</body>
</html>