<!DOCTYPE html>
<html lang="kr">
{{> include/header }}
<body>
{{> include/navbar }}

<div class="container">
    {{#questionData}}
    <h5 class="mt-5 mb-2">글제목</h5>
    <div readonly class="mb-2 form-control">
        {{title}}
    </div>
    <h5 class="mb-2">글 내용</h5>
    <textarea readonly class="mb-5 form-control">
            {{contents}}
        </textarea>

    <div class="article-util text-right mt-1 mb-1 row">
        <a href="/question/{{id}}"><button class="btn btn-primary mr-1">수정</button></a>
        <form action="/question/{{id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-primary" type="submit">삭제</button>
        </form>
    </div>


    <form class="answer-write" action="/api/question/{{id}}/answer" method="post">
        <textarea class="form-control" type="text" name="answer"></textarea>
        <div class="mt-2 text-right">
            <button class="btn btn-primary" type="submit">등록</button>
        </div>
    </form>


    <p class="qna-comment-count"><strong>{{countOfAnswer}}</strong>개의 의견</p>


    <div class="qna-comment">
        {{#answerList}}
        <div class="qna-comment-slipp">
            <div class="qna-comment-slipp-articles">
                <article class="article" id="answer-1405">
                    <div class="article-header row">
                        <div class="article-header-thumb col-2">
                            <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb"
                                 alt="">
                        </div>
                        <div class="article-header-text col-10">
                            <div class="border p-2 border-dark">
                                <label><strong>이름</strong></label>
                                <p>{{writer.name}} </p>
                                <label><strong>날짜</strong></label>
                                <p> {{formattedModifiedDate}} </p>
                                <label><strong>내용</strong></label>
                                <p>{{contents}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="article-util text-right mt-1 mb-1">
                        <button class="btn btn-primary mr-1" href="/api/question/{{question.id}}/answer">수정</button>
                        <form class="float-right delete-answer-form"
                              action="/api/question/{{question.id}}/answer/{{id}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-primary" type="submit">삭제</button>
                        </form>
                    </div>
                </article>
                {{/answerList}}

            </div>
        </div>
    </div>
</div>
{{/questionData}}
<script type="text/template" id="answerTemplate">
    <article class="article">
        <div class="article-header row">
            <div class="article-header-thumb col-2">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb"
                     alt="">
            </div>
            <div class="article-header-text col-10">
                <div class="border p-2 border-dark">
                    <label><strong>이름</strong></label>
                    <p>{0} </p>
                    <label><strong>날짜</strong></label>
                    <p> {1} </p>
                    <label><strong>내용</strong></label>
                    <p>{2}</p>
                </div>
            </div>
        </div>

        <div class="article-util text-right mt-1 mb-1">
            <button class="btn btn-primary mr-1" href="/api/question/{3}/answer">수정</button>
            <form class="float-right delete-answer-form" action="/api/question/{3}/answers/{4}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-primary">삭제</button>
            </form>
        </div>
    </article>
</script>
{{> include/footer }}
</body>
</html>