<!DOCTYPE html>
<html lang="kr">
{{> include/header }}
<body>
{{> include/navbar }}
<div class="container">
    {{#questionData}}
    <h5 class="mt-5 mb-2">글제목</h5>
    <div readonly class="mb-2 form-control">
        {{title}}
    </div>
    <h5 class="mb-2">글 내용</h5>
    <textarea readonly class="mb-5 form-control">
        {{contents}}
    </textarea>

    <form action="/question/{{id}}/answer" method="post">
        <textarea class="form-control" type="text" name="answer"></textarea>
        <div class="mt-2 text-right">
            <button class="btn btn-primary" type="submit">등록</button>
        </div>
    </form>

    <div>
        <label>댓글</label>
        {{#answerList}}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                {{#writer}}
                <span class="mb-1">{{name}}</span>
                {{/writer}}
                <span>{{formattedLocalDateTime}}</span>
            </div>
            <h5 class="mt-3">{{contents}}</h5>
        </li>
        {{/answerList}}
    </div>
    <div class="mt-3 mb-3 form-inline justify-content-end">
        <div class="form-group">
            <a href="/question">
                <button class="btn btn-primary">목록</button>
            </a>
        </div>
        <div class="ml-1 mr-1 form-group">
            <a href="/question/{{id}}">
                <button class="btn btn-primary">수정</button>
            </a>
        </div>
        <div class="form-group">
            <form method="post" action="/question/{{id}}">
                <input type="hidden" name="_method" value="DELETE"/>
                <button class="btn btn-primary" type="submit">삭제</button>
            </form>
        </div>
    </div>
</div>

{{/questionData}}
{{> include/footer }}
</body>
</html>