<!DOCTYPE html>
<html lang="en">
{{> include/header }}
<body>
{{> include/navbar }}

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#Index</th>
            <th scope="col">AccountId</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">JoinDate</th>
        </tr>
        </thead>
        <tbody>
        {{#accounts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{accountId}}</td>
            <td>{{password}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{joinDate}}</td>
        </tr>
        {{/accounts}}
        </tbody>
    </table>
</div>
<!--<ul class="pagination">-->
<!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--<li class="page-item"><a class="page-link" href="/1">1</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--</ul>-->





{{> include/footer }}
</body>
</html>